<html lang="en">
<head>
    <% include ../helpers/head.ejs %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Post Your Thoughts On: College Education</h1>
  </div>

  <p id="demo">
    Login and and tell us what you think!!!
  </p>

  <button id="signIn123" class="btn btn-default" type="button" onClick="toggleSignIn()">
      sign in 
    </button>
  <form>
      <br><br>
      Post title:<br>
      <input id="title123" type="text" name="postTitle"> <br>
      Post body:<br>
      <input id="body123" type="text" name="postBody"> 
    </form>
    <div id="stream" ></div>

    <button id="submit123" class="btn btn-default" type="button" onClick="handleMessageFormSubmit()">
        Submit
      </button>

</body>

</html>